<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309901007605-ug9gaisfnf464gga6secgg4cv1l1p55b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309901007605-ug9gaisfnf464gga6secgg4cv1l1p55b</string>
	<key>API_KEY</key>
	<string>AIzaSyBLZx-O7oY9xsZnNJbjTIRl3vs6gusQxZM</string>
	<key>GCM_SENDER_ID</key>
	<string>309901007605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user167528.Shift-Share</string>
	<key>PROJECT_ID</key>
	<string>shift-share</string>
	<key>STORAGE_BUCKET</key>
	<string>shift-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309901007605:ios:2c263354ee9d407c5603bc</string>
	<key>DATABASE_URL</key>
	<string>https://shift-share.firebaseio.com</string>
</dict>
</plist>